<% if logged_in? %>
  <script id="bootstrap-current-user" type="text/javascript">
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  </script>
<% end %>

<script type="text/javascript">
  window.images = {
    logo: "<%= asset_path('aircamplogo.png') %>",
    splash: "<%= asset_path('splash.jpg') %>",
  }
</script>

<main id="root"></main>
