.navbar {
  display: grid;
  grid-template-columns: 193px auto 600px;
  align-items: center;
  height: 8vh;
  padding-bottom: 10px;
}

.search-container {
  display: grid;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border: 1px solid #ebebeb;
  border-radius: 4px;
  width: 400px;
  height: 50px;
  align-items: center;
  padding: 0px 17px 0px 17px;

  input {
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    padding-left: 5px;
    width: 90%;
  }
}


.logo {
  justify-self: center;
  img {
    width: 170px; 
    height: auto;
  }
}

.right-nav {
  font-size: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 20px;

  .nav-session {
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 2px;
  }
  
  .nav-links {
    font-size: 15px;
    border-bottom: 3px solid transparent;
  }

  .nav-links:hover {
    border-bottom: 2px solid #40d9ac;
    box-sizing: border-box;
    padding-bottom: 2px;
  }
  .nav-session:hover {
    font-size: 15px;
    border-bottom: 1px solid black;
  }
  
}

.right-nav > li {
  margin: 0px 12px;
}

